html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2e2e2e;
}

.heading {
  font-family: 'Dancing Script', sans-serif;
  color: white;
}

#root {
  padding: 2rem;
  text-align: center;
}

/* default mobile size */
.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  padding: 20px;
}

/* tablet size */
@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop size */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  height: 100%;
  background-color: #1c1c1c;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 8px black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  height: 250px;
  display: block;
  background-color: white;
}

.card-body {
  flex-grow: 1;
  padding-bottom: 10px;
  padding-right: 10px;
  background-color: #1c1c1c;
}

.card-body h3 {
  color: white;
  font-size: 1.1rem;
  font-family: "Poppins", cursive;
  margin-bottom: 8px;
}

.card-body .price {
  display: flex;
  justify-content: right;
  font-weight: bold;
  color: white;
  margin-bottom: 8px;
  font-family: "Poppins",cursive;
}

.card-body .desc {
  font-family:"Poppins",cursive;
  font-size: 0.9rem;
  color: white;
}

/* error message */
.error {
  color: white;
  background: crimson;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
}

/* loading message */
.loading {
  color: gray;
  font-style: italic;
}

.card .cart {
  transition: transform 0.2s;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.card .cart .btn {
  border-radius: 20px;
  background-color: black;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card .cart .btn:hover {
  transform: translateY(-5px);
  background-color: greenyellow;
  color: black;
}

.details {
  background-color: whitesmoke;
  font-family: "Poppins",cursive;
}

.editPage {
  margin: 0 auto;
  height: 50%;
  width: 50%;
  background-color: whitesmoke;
  font-family: "Poppins",cursive;
  border-radius: 20px;
}

.editPage-name {
  font-family: "Poppins", cursive;
}
.editPage-price {
  font-family: "Poppins", cursive;
}
.editPage-brand {
  font-family: "Poppins", cursive;
}
.editPage-category {
  font-family: "Poppins", cursive;
}
.editPage-desc {
  font-family: "Poppins", cursive;
}
.editPage-img {
  font-family: "Poppins", cursive;
}
.editPage-submit {
  font-family: "Poppins", cursive;
}

