html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: gray; 
}

.heading {
  font-family: 'Dancing Script', sans-serif;
}

#root {
  padding: 2rem;
  text-align: center;
}

/* default mobile size */
.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  padding: 20px;
}

/* tablet size */
@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop size */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  height: 100%;
  background: white;
  border-radius: 20px;
  box-shadow: 0 2px 8px black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  height: 180px;
  display: block;
  background-image: linear-gradient(to bottom, darkBlue, lightBlue);
}

.card-body {
  flex-grow: 1;
  padding-bottom: 10px;
  padding-right: 10px;
  background-image: linear-gradient(to top, black, gray);
}

.card-body h3 {
  color: white;
  font-size: 1.1rem;
  font-family: "Playwrite DE SAS", cursive;
  margin-bottom: 8px;
}

.card-body .price {
  display: flex;
  justify-content: right;
  font-weight: bold;
  color: white;
  margin-bottom: 8px;
}

.card-body .desc {
  font-family: cursive;
  font-size: 0.9rem;
  color: white;
}

/* error message */
.error {
  color: white;
  background: crimson;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
}

/* loading message */
.loading {
  color: gray;
  font-style: italic;
}

.card-body .cart {
  transition: transform 0.2s;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.card-body .cart .btn {
  border-radius: 20px;
  background-color: black;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-body .cart .btn:hover {
  transform: translateY(-5px);
  background-color: greenyellow;
  color: black;
}
